body{
    background-color: hsl(233, 47%, 7%);
    font-size: 1vw;
}
.text{
    margin: 3.4vw;
}

.container{
    position: fixed;
    background-color: hsl(244, 38%, 16%);
    width: 60em;
    height: 25em;
    top: 20%;
    left: 16.666%;
    border-radius: 10px;
}
p{
    color:  hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter';
    font-weight: 400;
    margin-bottom: 3.4vw;
    margin-top: 2vw;
}
.stat-heading{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'inter';
    font-weight: 400;
    font-size: 0.6vw;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    margin-top: none;
}
h2{
    margin: none;
}
.heading{
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    margin-bottom: 0;
}
.stats{
    text-align: center;
}
.h1{
    float: left;
    margin-right: 3vw;
}
.h2{
    float:left ;
}
.h3{
    float: right;
}
.pic{
    float: right;
    width: 50%;
    height: 100%;
    margin-left: 3vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
@media screen and (max-device-width: 800px) {
    body{
        background-color: hsl(233, 47%, 7%);
    }
    .text{
        margin: 3.4vw;
        font-size= 15px;
    }    
    .container{
        position: fixed;
        background-color: hsl(244, 38%, 16%);
        width: 60em;
        height: 160em;
        top: 10%;
        left: 18%;
        border-radius: 10px;
        text-align: center;
    }
    .pic{
        width: 100%;
        height: 30%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

    }
    .heading{
        color: white;
        font-family: 'Inter';
        font-weight: 700;
        margin-bottom: 0;
    }
    .stats{
        text-align: center;
    }
    .stat-heading{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'inter';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    margin-top: none;
    font-size:10px;
    }
    .h1{
        position:fixed;
        left:26%;
    }
    .h2{
        position:fixed;
        top :60px;
        left:26%;
    }
    .h3{
        position: fixed;
        top:120px;
        left:26%;
    }
}
.insight{
    color: hsl(277, 64%, 61%);
}
.attribution { font-size: 11px; text-align: center; position: relative; color: white; }
.attribution a { color: hsl(277, 64%, 61%);}
